<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
  </button>
  <mat-menu #menu class="conteudo_menu" >
    <button mat-menu-item class="mat-menu-item5" (click)="router.navigate(['/'])">Home</button>
    <button mat-menu-item class="mat-menu-item1" (click)="router.navigate(['/minhas-anotacoes'])">Minhas anotações</button>
    <button mat-menu-item class="mat-menu-item2" (click)="router.navigate(['/calendario'])">Calendario</button>
    <button mat-menu-item class="mat-menu-item3" (click)="router.navigate(['/guias'])">Guias</button>

  </mat-menu>
  <span class="logo">CalenDaily</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>


