<main class="bodyPrincipal">
  <p class="conteudo1">Bem-vindo Ao CalenDaily!</p>

  <h2 class="conteudo1">Nos ajude a melhorar! Descreva abaixo o que gostaria de ver
    <br><br>
    em nosso app. Suas sugestões são importantes para nós!</h2>

  <form class="example-form">
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [(ngModel)]="message" name="message" required>
    </mat-form-field>

    <button (click)="sendMessage()" mat-raised-button>Enviar mensagem</button>
  </form>
</main>
